<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    ul {
          display: table;
          margin: 0 auto;
        }
    .container{
      text-align: center;
      display: flex;
      justify-content: center;
    }
    h2 {
      text-align: center;
    }
  </style>
</head>
<body>
<h2>Register new prob</h2>
<form name="prob" method="post">{% csrf_token %}
    <div class="container">
        <select name="cus">
          {% for o in customers %}
            <option value={{o.id}}>{{o.first_name}} {{o.last_name}}</option>
          {% endfor %}
        </select>
        <select name="harvest">
          {% for o in harvests %}
            <option value={{o.id}}>{{o.strain_id.name}} -- {{o.id}} -- {{o.description}}</option>
          {% endfor %}
        </select>
        <button type="submit">Add prob</button>
    </div>
</form>
<h2>Go back</h2>
<form name="add_vac" method="post">{% csrf_token %}
    <div class="container">
        <button type="submit" name="back">Back</button>
    </div>
</form>
</body>
</html>